{% extends 'base.html' %}
{% load static %}
{% block title %} Neuralsage {% endblock%}
{% block content %}
{% include 'includes/header.html' %}
<section class="wrapper bg-gradient-primary">
    <div class="container pt-10 pt-md-14 pb-8 text-center">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-7">
                <figure><img class="w-auto" src="{% static 'img/i2.png'%}" alt="" /></figure>
            </div>
            <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start">
                <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">Grow Your Business with Our Solutions.</h1>
                <p class="lead fs-lg mb-7">We specialize in Machine Learning and Artificial Intelligence. We love to turn ideas into beautiful things.</p>
                <span><a class="btn btn-primary me-2" href="{% url 'contact' %}">Contact Us</a></span>
            </div>
        </div>
    </div>
</section>
<section class="wrapper bg-light" style="margin-bottom:100px;">
    <div class="container pt-14 pt-md-16">
        <div class="row text-center">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h2 class="fs-16 text-uppercase text-muted mb-3">What We Do?</h2>
                <h3 class="display-4 mb-10 px-xl-10">The service we offer is specifically designed to meet your needs.</h3>
            </div>
        </div>
        <div class="position-relative">
            <div class="shape rounded-circle bg-soft-blue rellax w-16 h-16" data-rellax-speed="1" style="bottom: -0.5rem; right: -2.2rem; z-index: 0;"></div>
                <div class="shape bg-dot primary rellax w-16 h-17" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
                    <div class="row gx-md-5 gy-5">
                        <div class="col-md-6 col-xl-4">
                            <div class="card shadow-lg card-border-bottom card-border-bottom border-soft-yellow">
                                <div class="card-body">
                                    <img src="{% static 'img/icons/webdev.png' %}" class="icon-svg icon-svg-md text-yellow mb-3" alt="" />
                                    <h4>Artificial Intelligence</h4>
                                    <p class="mb-2">With a team of highly skilled AI experts, data scientists, and software engineers, we empower businesses across industries to harness the power of AI and unlock new opportunities for growth and innovation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card shadow-lg card-border-bottom card-border-bottom border-soft-red">
                                <div class="card-body">
                                    <img src="{% static 'img/icons/appdev.png' %}" class="icon-svg icon-svg-md text-red mb-3" alt="" />
                                    <h4>Machine Learning</h4>
                                    <p class="mb-2">Our team excels in developing and deploying state-of-the-art machine learning models and algorithms.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="card shadow-lg card-border-bottom card-border-bottom border-soft-blue">
                                <div class="card-body">
                                    <img src="{% static 'img/icons/gift.png' %}" class="icon-svg icon-svg-md text-blue mb-3" alt="" />
                                    <h4>Problem Solving</h4>
                                    <p class="mb-2">Our role is to imagine products that don't exist and guide them to life.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper bg-soft-primary">
    <div class="container py-14 py-md-17">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-lg-7">
                <figure><img class="w-auto" src="{% static 'img/i5.png' %}" alt="" /></figure>
            </div>
            <div class="col-lg-5">
                <h3 class="display-4 mb-7">Got any questions? Don't hesitate to get in touch.</h3>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
                    </div>
                    <div>
                        <h5 class="mb-1">Address</h5>
                        <address>Chennai, India</address>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
                    </div>
                    <div>
                        <h5 class="mb-1">Phone</h5>
                        <p>+91 9876543210</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
                    </div>
                    <div>
                        <h5 class="mb-1">E-mail</h5>
                        <p class="mb-0">contact@neuralsage.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}